/* ======================
		Hero Section
========================= */ 

.hero {
	background-color: $tan;

	.heroIntro {
		@media screen and (min-width: 768px) {
			float: right;
			margin-top: 30px;
		}
	}

	h2 {
		margin-top: 80px;
		margin-bottom: 0;
		font-size: 27px;
		font-family: $specialfont;
		font-weight: 300;
		text-transform: uppercase;

		@media screen and (min-width: 768px) {
			font-size: 38px;
		}
	}

	.GROKtext {
		background-image: url('../img/GROK.png');
		background-position: center center;
		background-size: cover;
		width: 173px;
		height: 53px;
		margin: 0 auto;

		@media screen and (min-width: 768px) {
			float: left;
			width: 232px;
			height: 73px;
			margin-left: 7px;
		}
	}

	.heroDate {
		font-size: 19px;
		margin-top: 5px;

		@media screen and (min-width: 768px) {
			font-size: 25px;
			margin-bottom: 0;
		}
	}

	.tickets {
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 0.5px;
		margin-bottom: 0px;

		@media screen and (min-width: 768px) {
			font-size: 30px;
			margin-top: 20px;
			margin-bottom: 5px;
		}
	}

	.grokman {
		background-image: url('../img/GrokMan.png');
		background-position: center center;
		background-size: cover;
		width: 290px;
		height: 220px;
		margin: 0 auto;
		margin-top: 40px;

		@media screen and (min-width: 768px) {
			float: left;
			width: 400px;
			height: 305px;
			margin-top: 126px;
		}
	}
}