/* ====================
	Schedule
======================= */

.schedule {

	.daySchedule {
		@media screen and (min-width: 960px) {
			float: left;
			width: 30%;
			margin-right: 2em;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}