/* ====================
		Speakers
======================= */

.speakers {

	.speaker {
		margin-bottom: 4em;

		&:last-child {
			margin-bottom: 0;
		}

		.name {
			font-size: 20px;
			color: $red;
			margin: 0;
			font-family: $mainfont;
		}

		.company {
			margin: 0;
			color: $green;
			font-size: 14px;
		}

		img {
			border: 5px solid $green;
			border-radius: 50%;
			width: 50%;
		}
	}
}