/* ====================
		Stats
======================= */

.stats {
	background-color: $red;
	background-image: url('../img/grok-pattern.png');
	padding: 2em 0;

	.stat {
		margin-bottom: 3em;
		color: $white;

		@media screen and (min-width: 768px) {
			float: left;
			width: 20%;
			margin-right: 3.2em;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		p {
			margin: 0;
			font-size: 20px;
			font-weight: 300;
		}

		.statNumber {
			font-size: 42px;
			font-weight: 400;
		}
	}	
}